.um{
    background-color: antiquewhite;
    margin-right: 1750px;
}


.dois{
    color: aliceblue;
    background-color: blueviolet;
    margin-left: 20px;
    margin-right: 1700px;
}

.tres{
    background-color: blue;
    color: blanchedalmond;
    margin-left: 40px;
    margin-right: 1500px;
}

.quatro{
    background-color: brown;
    color: azure;
    margin-left: 60px;
}